@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');
   

.toolbar-container{
  background-color:blue !important;
}
.logo{
 width:150px;
 margin:0 auto;
 display:block;
}
h3{
font-family: 'Lobster', cursive;
text-align: center;
color: #000;
margin-top:10px;
font-size: 20pt;
}

ion-card-title{
   text-align: center;
   font-size: 15pt;
}
ion-card{
  text-align: center;
  background: #fff;
}

ion-col{
   background: #006e34;
   color:#fff;
   text-align: center;
}