<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Como fazer o Pedido?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <img src="../assets/imagens/logo.png" class="logo">

  <ion-card>
    <ion-card-header>
    <ion-card-title> 
       <h3> Como Realizar meu Pedido?</h3>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Para a realização do seu pedido, é necessário clicar no botão abaixo "Iniciar Pedido" e apontar a câmera de seu celular para o QR CODE que se encontra em sua mesa.
    Qualquer dúvida, deve-se chamar um atendente.
    <br> <br> 
    <ion-button expand="full" href="qrcode">Iniciar Pedido</ion-button>
    <ion-button expand="full" color="danger" href="home" >Cancelar</ion-button>
  </ion-card-content>
  </ion-card>

</ion-content>
