<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <img src="../assets/imagens/logo.png" class="logo">
    
    

    <ion-card>

        <img src="../assets/imagens/odublin.JPG">
        <ion-fab right top>
         
        </ion-fab>
      
        <ion-item>
          <ion-icon name="pin" item-start large></ion-icon>
          <h2>R. Emíliano Ramos, 235 - Centro - Lages SC </h2>          
        </ion-item>
      
        <ion-item href="https://api.whatsapp.com/send?phone=5549999465044&text=O'Dublin">
          <ion-icon name="logo-whatsapp" item-start large ></ion-icon>
          <h2>Clique aqui e envie-nos uma mensagem</h2>
        </ion-item>
        <ion-item href="https://www.instagram.com/odublinpub/">
            <ion-icon name="logo-instagram" item-start large ></ion-icon>
            <h2>Siga-nos no Instagram</h2>
        </ion-item>

        <ion-item href="https://www.facebook.com/profile.php?id=100012267180078">
            <ion-icon name="logo-facebook" item-start large ></ion-icon>
            <h2>Curta nossa página no Facebook</h2>
        </ion-item>
        <ion-item> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3528.934640778217!2d-50.32531908554839!3d-27.811782637994764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e01f36f293a86b%3A0x47e3cc4b11d05c67!2sO&#39;Dublin+Beer+Pub!5e0!3m2!1spt-BR!2sbr!4v1544458615315" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    
      </ion-item> 
     
      
      </ion-card>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button  href="instrucoes">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
      </ion-fab>

</ion-content>
