<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>O'Dublin Beer Pub - Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light"> 
    
    <img src="../assets/imagens/logo.png" class="logo">
  <ion-card class="cardapio-card" href="porcoes">
    <ion-card-header>
      <ion-img src="/assets/imagens/porcoes.jpg"> </ion-img>
      <ion-card-title>Porções</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="cardapio-card" href="cervejas">
    <ion-card-header>
      <ion-img src="/assets/imagens/cerveja.jpg"> </ion-img>
      <ion-card-title>Cervejas</ion-card-title>
    </ion-card-header>
  </ion-card>

  
  <ion-card class="cardapio-card" href="destilados">
    <ion-card-header>
      <ion-img src="/assets/imagens/destilado.jpg"> </ion-img>
      <ion-card-title>Destilados</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card class="cardapio-card" href="drinks">
    <ion-card-header>
      <ion-img src="/assets/imagens/drinks.jpg"> </ion-img>
      <ion-card-title>Drinks</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="cardapio-card" href="refrigerantes">
    <ion-card-header>
      <ion-img src="/assets/imagens/refrigerantes.jpg"> </ion-img>
      <ion-card-title>Refrigerantes</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="cardapio-card" href="sucos">
    <ion-card-header>
      <ion-img src="/assets/imagens/sucos.jpg"> </ion-img>
      <ion-card-title>Sucos</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  href="instrucoes">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
  </ion-fab>
  <ion-grid>
      <ion-row>
        <ion-col col-12>
            R. Emíliano Ramos, 235 - Centro, Lages - SC <br> 
            (49) 99805-6222
        </ion-col>
      </ion-row>
     
    </ion-grid>
</ion-content>