<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        O'Dublin Beer Pub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
    <img src="../assets/imagens/logo.png" class="logo">

    <h3>Destaque Agenda</h3>
    <ion-card *ngFor="let agenda of result"  href="agenda">  
        <ion-img src="http://weblages.com.br/neri/odublin/imagens/agenda/{{agenda.imagem}}"> </ion-img>      
        <ion-card-header>                  
          <ion-card-title>{{ agenda.nome }}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
           Data:  {{dataformatada[2]}}/{{dataformatada[1]}}/{{dataformatada[0]}} <br>
          {{ agenda.descricao }}          
        </ion-card-content>
      </ion-card>
      <h3>Destaque Promoção</h3>
      <ion-card *ngFor="let promocao of result2"  href="promocao">   
        <ion-img src="http://weblages.com.br/neri/odublin/imagens/promocao/{{promocao.imagem}}"> </ion-img>      
          <ion-card-header>           
            <ion-card-title>{{ promocao.nome }}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>              
            Regras: {{ promocao.descricao }}
          </ion-card-content>
      </ion-card>
      <h3>Destaque Cardápio</h3>
      <ion-card *ngFor="let produto of result3" href="cardapio">
          <ion-img src="/assets/imagens/cardapio.jpg"> </ion-img>        
          <ion-card-header>                   
            <ion-card-title>{{ produto.nome_produto }}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
                       
            {{ produto.descricao }}<br>
            Valor: R$ {{produto.valor}}<br>
            Tamanho: {{produto.tamanho}}

          </ion-card-content>
      </ion-card>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  href="instrucoes">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid>
          <ion-row>
            <ion-col col-12>
                R. Emíliano Ramos, 235 - Centro, Lages - SC <br> 
                (49) 99805-6222
            </ion-col>
          </ion-row>
         
        </ion-grid>
</ion-content>
